name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_rust_linear_regression:
    name: Test Rust Linear Regression Project
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./rust_projects/linear_regression

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          # this action does not use default.run because it is a "uses" step
          workspaces: "rust_projects/linear_regression -> target"

      - name: Check Formatting
        run: cargo fmt --all -- --check

      - name: Lint with Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run Tests
        run: cargo test
