name: Publish to PyPI Workflow

on:
  workflow_call:
    inputs:
      is_production_release:
        # false: publish to TestPyPI
        # true: publish to PyPI
        required: true
        type: boolean
      working_directory:
        # The directory in the repo that contains the Python package (i.e., where pyproject.toml is)
        required: true
        type: string
      artifact_download_name:
        # This should contain all artifacts to be published
        required: true
        type: string
      git_tag_ref:
        # Simply pass in github.ref
        # It must start "refs/tags" and ends with "v*.*.*", where "*.*.*" is the version number
        # This is an explicit parameter to make it clear
        required: true
        type: string

jobs:
  resolve_inputs:
    name: Resolve inputs
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    outputs:
      ENV_NAME: ${{ steps.get_params.outputs.ENV_NAME }}
      ENV_URL: ${{ steps.get_params.outputs.ENV_URL }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Ensure version consistency
        run: |
          version=$(grep -m1 "^version = " pyproject.toml | sed 's/version = "\(.*\)"/\1/')
          # Remove everything up to and including the last 'v'
          tag_version=${{ inputs.git_tag_ref }}
          tag_version=${tag_version##*/v}
          if [[ "$version" != "$tag_version" ]]; then
            echo "Version mismatch: pyproject.toml version is $version but tag version is $tag_version"
            exit 1
          fi

      - name: Get parameters
        id: get_params
        run: |
          package_name=$(grep -m1 "^name = " pyproject.toml | sed 's/name = "\(.*\)"/\1/')

          if ${{ inputs.is_production_release }}; then
            echo "ENV_NAME=pypi" >> "$GITHUB_OUTPUT"
            echo "ENV_URL=https://pypi.org/p/${package_name}" >> "$GITHUB_OUTPUT"
          else
            echo "ENV_NAME=testpypi" >> "$GITHUB_OUTPUT"
            echo "ENV_URL=https://test.pypi.org/p/${package_name}" >> "$GITHUB_OUTPUT"
          fi

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: resolve_inputs
    environment:
      name: ${{ needs.resolve_inputs.outputs.ENV_NAME }}
      url: ${{ needs.resolve_inputs.outputs.ENV_URL }}
    permissions:
      id-token: write # IMPORTANT: mandatory for trusted publishing
    steps:
      - name: Ensure dist folder does not exist
        run: |
          if [[ -d ./dist ]]; then
            echo "The dist folder already exists!"
            exit 1
          fi
      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact_download_name }}
          path: ./dist/
      - name: Show artifacts
        run: ls -R ./dist
      - name: Publish to PyPI/TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ !inputs.is_production_release && 'https://test.pypi.org/legacy/' || '' }}
