name: rust_linear_regression_python_bindings

on:
  pull_request:
    branches:
      - main
    paths:
      - "python_projects/linear_regression/**"
      - "rust_projects/linear_regression_python_bindings/**"
      - ".github/workflows/rust_linear_regression_python_bindings.yml"
  push:
    tags:
      - "python/linear_regression/v*.*.*"
      - "test/python/linear_regression/v*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_and_build:
    name: Test and Build Rust Linear Regression Python Bindings
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: &python-versions
          - "3.13"
          - "3.14"
    permissions:
      # All 3 all needed for cobertura
      contents: read
      pull-requests: write
      checks: write

    defaults:
      run:
        working-directory: ./python_projects/linear_regression

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install repo
        run: |
          uv sync --locked --all-extras

      - name: Linting and format/type checks
        run: |
          uv run ruff check
          uv run ruff format --check
          uv run ty check

      - name: Run tests
        run: |
          uv run pytest --junitxml report.xml --cov=src --cov-report=xml:coverage.xml

      - name: Show test report
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Test results
          path: ./python_projects/linear_regression/report.xml
          reporter: java-junit

      - name: Show test coverage
        uses: 5monkeys/cobertura-action@master
        # There are problems if this is run when pushing a tag
        if: github.event_name == 'pull_request'
        with:
          path: ./python_projects/linear_regression/coverage.xml
          minimum_coverage: 75
          skip_covered: false
          fail_below_threshold: true
          show_missing: true
          show_line: true
          show_branch: true
          link_missing_lines: true
          link_missing_lines_source_dir: ./python_projects/linear_regression/src

      - name: Build and test Python wheel
        run: |
          uv build
          uv venv test-env
          source test-env/bin/activate
          uv pip install dist/*.whl
          output=$(linear-regression 2>&1) || true
          pattern="^Usage: linear-regression"
          if [[ ! "$output" =~ $pattern ]]; then
            echo "Unexpected output"
            exit 1
          fi
          deactivate
          rm -r test-env

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts-${{ matrix.python-version }}
          path: ./python_projects/linear_regression/dist/
          if-no-files-found: error
          retention-days: 1

  prepare_for_publishing:
    name: Prepare for publishing
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: test_and_build
    outputs:
      IS_PRODUCTION_RELEASE: ${{ steps.get_params_for_env.outputs.IS_PRODUCTION_RELEASE }}
      ENV_NAME: ${{ steps.get_params_for_env.outputs.ENV_NAME }}
      ENV_URL: ${{ steps.get_params_for_env.outputs.ENV_URL }}

    steps:
      - name: Download and put artifacts together
        uses: actions/download-artifact@v7
        with:
          pattern: build-artifacts-*
          merge-multiple: true
          path: ./dist/

      - name: Upload all artifacts
        uses: actions/upload-artifact@v6
        with:
          name: all-build-artifacts
          path: ./dist/
          if-no-files-found: error
          retention-days: 1

      - name: Get variables for environment
        id: get_params_for_env
        run: |
          package_name=$(grep -m1 "^name = " pyproject.toml | sed 's/name = "\(.*\)"/\1/')

          if [[ "$GITHUB_REF" =~ ^refs/tags/python ]] ; then
            echo "IS_PRODUCTION_RELEASE=true" >> "$GITHUB_OUTPUT"
            echo "ENV_NAME=pypi" >> "$GITHUB_OUTPUT"
            echo "ENV_URL=https://pypi.org/p/${package_name}" >> "$GITHUB_OUTPUT"
          elif [[ "$GITHUB_REF" =~ ^refs/tags/test/python ]] ; then
            echo "IS_PRODUCTION_RELEASE=false" >> "$GITHUB_OUTPUT"
            echo "ENV_NAME=testpypi" >> "$GITHUB_OUTPUT"
            echo "ENV_URL=https://test.pypi.org/p/${package_name}" >> "$GITHUB_OUTPUT"
          else
            echo "Unexpected GITHUB_REF = $GITHUB_REF"
            exit 1
          fi

  publish:
    # Reusable workflows are not currently supported by PyPI's Trusted Publishing functionality
    name: Publish to repository
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: prepare_for_publishing
    environment:
      name: ${{ needs.prepare_for_publishing.outputs.ENV_NAME }}
      url: ${{ needs.prepare_for_publishing.outputs.ENV_URL }}
    permissions:
      id-token: write # IMPORTANT: mandatory for trusted publishing
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Ensure version consistency
        working-directory: ./python_projects/linear_regression
        run: |
          version=$(grep -m1 "^version = " pyproject.toml | sed 's/version = "\(.*\)"/\1/')

          git_tag_ref=${{ github.ref }}
          if [[ ! "$git_tag_ref" =~ v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "git_tag_ref must end in v*.*.* where *.*.* is the version number"
            exit 1
          fi

          # Remove everything up to and including the last 'v'
          tag_version=${git_tag_ref##*/v}
          if [[ "$version" != "$tag_version" ]]; then
            echo "Version mismatch: pyproject.toml version is $version but tag version is $tag_version"
            exit 1
          fi

      - name: Ensure dist folder does not exist
        run: |
          if [[ -d "$GITHUB_WORKSPACE/dist" ]]; then
            rm -rf "$GITHUB_WORKSPACE/dist"
          fi

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: all-build-artifacts
          path: ./dist/

      - name: Show artifacts
        run: ls -R ./dist

      - name: Publish to PyPI/TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{ needs.prepare_for_publishing.outputs.IS_PRODUCTION_RELEASE == 'false' && 'https://test.pypi.org/legacy/' || '' }}
