name: rust_linear_regression_python_bindings

on:
  pull_request:
    branches:
      - main
    paths:
      - "rust_projects/linear_regression_python_bindings/**"
      - ".github/workflows/rust_linear_regression_python_bindings.yml"
  push:
    tags:
      - "python/linear_regression/v*.*.*"
      - "test/python/linear_regression/v*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_and_build:
    name: Test and Build Rust Linear Regression Python Bindings
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: &python-versions
          - "3.13"
          - "3.14"
    permissions:
      # All 3 all needed for cobertura
      contents: read
      pull-requests: write
      checks: write

    defaults:
      run:
        working-directory: ./python_projects/linear_regression

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install repo
        run: |
          uv sync --locked --all-extras

      - name: Linting and format/type checks
        run: |
          uv run ruff check
          uv run ruff format --check
          uv run ty check

      - name: Run tests
        run: |
          uv run pytest --junitxml report.xml --cov=src --cov-report=xml:coverage.xml

      - name: Show test report
        uses: dorny/test-reporter@v2
        if: success() || failure()
        with:
          name: Test results
          path: ./python_projects/linear_regression/report.xml
          reporter: java-junit

      - name: Show test coverage
        uses: 5monkeys/cobertura-action@master
        with:
          path: ./python_projects/linear_regression/coverage.xml
          minimum_coverage: 75
          skip_covered: false
          fail_below_threshold: true
          show_missing: true
          show_line: true
          show_branch: true
          link_missing_lines: true
          link_missing_lines_source_dir: ./python_projects/linear_regression/src

      - name: Build and test Python wheel
        run: |
          uv build
          uv venv test-env
          source test-env/bin/activate
          uv pip install dist/*.whl
          output=$(linear-regression 2>&1) || true
          pattern="^Usage: linear-regression"
          if [[ ! "$output" =~ $pattern ]]; then
            echo "Unexpected output"
            exit 1
          fi
          deactivate
          rm -r test-env

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts-${{ matrix.python-version }}
          path: ./python_projects/linear_regression/dist/
          if-no-files-found: error
          retention-days: 1
  
  combine_artifacts:
    name: Combine build artifacts
    runs-on: ubuntu-latest
    needs: test_and_build
    steps:
      - name: Download and put artifacts together
        uses: actions/download-artifact@v7
        with:
          pattern: build-artifacts-*
          path: ./dist/
      
      - name: Show dist contents
        run: tree ./dist

      - name: Upload all artifacts
        uses: actions/upload-artifact@v6
        with:
          name: all-build-artifacts
          path: ./dist/
          if-no-files-found: error
          retention-days: 1
